.banner {
  margin-bottom: 35px;
}

.banner h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.banner h1 span {
  color: #ff0101;
}

.banner p {
  font-size: 18px;
  font-weight: 400;
}

@media screen and (min-width: 1200px) and (min-height: 780px) {
  .banner {
    margin-bottom: 40px;
  }

  .banner h1 {
    margin-bottom: 30px;
  }
}
