.banner {
  margin-bottom: 47px;
}

.banner h1 {
  font-size: 48px;
  margin-bottom: 41px;
}

.banner h1 span {
  color: #ff0101;
}

.banner p {
  font-size: 18px;
  font-weight: 400;
}

@media screen and (min-width: 1200px) {
  .banner {
    margin-bottom: 77px;
  }
}
