.performance-graph {
  width: 190px;
  height: 190px;
  background-color: #282d30;
  border-radius: 5px;
}

@media screen and (min-width: 1200px) {
  .performance-graph {
    width: 258px;
    height: 260px;
  }
}
