.score-graph {
  position: relative;
  width: 190px;
  height: 190px;
  background-color: #fbfbfb;
  border-radius: 5px;
}

.score-graph_wrapper {
  position: absolute;
  width: 130px;
  height: 130px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.recharts-sector.recharts-radial-bar-background-sector {
  fill: #fbfbfb;
}

.score-graph_title {
  position: absolute;
  font-size: 12px;
  font-weight: 500;
  color: #20253a;
  top: 0;
  left: 0;
  margin: 15px 20px;
}

.score_custom-legend {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: #282d30 !important;
  padding-left: 7px;
  line-height: 20px;
}

.score_custom-legend p {
  width: 56px;
  height: auto;
  text-align: center;
  color: #74798c;
  font-size: 12px;
  font-weight: 500;
}

@media screen and (min-width: 1200px) {
  .score-graph {
    width: 258px;
    height: 260px;
  }
}
